body {
    margin-top: 50px;
}

canvas {
    display: block;
    margin: 20px auto;
}

div {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 5px 0px;
}

#score {
    display: inline-block;
}
